.books-list {
    width: 100%;
    
    
}

.book-info {
    float: right;
    padding: 50px;
    width: 50%;
}

.book {
    width: 100%;
    border-bottom: 1px solid black;
    overflow: auto;
}


.book-cover {
    float: left;
    padding: 20px;
}